html, body {
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 25px;
}

.background
{
  background-image: url('./images/Jace.jpg');
  background-repeat: no-repeat;
  background-size: 100%, 50%;
}

.header
{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1% 2%;
  margin-bottom: 8%;
  text-align: center;
  color: rgb(24, 177, 163);
}


.player1col,.player2col
{
  float: left;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 11%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  border-radius: 1em;
  color: rgb(24, 177, 163);
}

.reset
{
  text-align: center;
}

.player1col { width: 20%; }
.player2col { width: 20%; }
