html, body {
    margin: 0;
    padding: 0;
}

.background
{
  background-image: url('./images/Jace.jpg');
  background-repeat: no-repeat;
  background-size: 100%, 50%;
}

.header
{
  background-color: rgba(119, 119, 119, 0.7);
  padding: 1% 2%;
  margin-bottom: 10%;
  text-align: center;
  color: rgb(24, 215, 118);
}

.player1col,.player2col
{
  float: left;
  background-color: rgba(119, 119, 119, 0.7);
  margin-bottom: 11%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  border-radius: 1em;
  color: rgb(24, 215, 118);
}

.reset
{
  text-align: center;
}

.player1col { width: 20%; }
.player2col { width: 20%; }
